<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="site.yoonsang.instaclone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".src.main.home.feedMore.modify.FeedModifyActivity"></activity>
        <activity android:name=".src.main.home.storyAdapter.story.StoryActivity" />
        <activity android:name=".src.signup.birthday.BirthdayActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="site.yoonsang.instaclone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".src.main.home.post.feed.photosEdit.PhotosEditActivity" />
        <activity android:name=".src.main.home.post.feed.photosEdit.upload.UploadActivity" />
        <activity android:name=".src.main.home.post.feed.photosEdit.photoEdit.PhotoEditActivity" />
        <activity android:name=".src.main.home.post.PostActivity" />
        <activity android:name=".src.main.profile.edit.ProfileEditActivity" />
        <activity android:name=".src.signup.terms.TermsActivity" />
        <activity android:name=".src.signup.SignUpActivity" />
        <activity android:name=".src.login.LoginActivity" />
        <activity android:name=".src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.main.MainActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>